body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.945);
}

.container {
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 8
}

.container-text {
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #72005F;
    margin-bottom: 1.5rem;
    padding-left: .2rem;
    font-size: 2.5cm;
    font-weight: bold;
}

.sub-title {
    color: #BAA193;
    margin-bottom: 0.5rem;
    font-size: 1cm;
    font-weight: bold;
}

#button {
    color: white;
    background-color: #72005F;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
}

#button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24);
    background-color: #8b0775;
    transform: scale(1.05);
}

.dog {
    height: 400px;
    padding: 2%;
    animation: floating 3s infinite;
}

@keyframes floating {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -25px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }